{% if social.instagram %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ social.instagram }}"><i class="fab fa-instagram"></i></a>
    </li>
{% endif %}

{% if social.facebook %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ social.facebook }}"><i class="fab fa-facebook"></i></a>
    </li>
{% endif %}

{% if social.twitter %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ social.twitter }}"><i class="fab fa-twitter"></i></a>
    </li>
{% endif %}

{% if social.youtube %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ social.youtube }}"><i class="fab fa-youtube"></i></a>
    </li>
{% endif %}