<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login Black Friday Posadas">
    <meta name="author" content="Matias Solis de la Torre">

    <title>Black Friday Posadas - Login</title>

    <link rel="canonical" href="http://blackfridayposadas.com.ar/login">

    <!-- Bootstrap core CSS -->
    {{ encore_entry_link_tags('css/login') }}


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {% block stylesheets %}
    {% endblock stylesheets %}
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>
<body class="text-center">

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block fos_user_content %}
{% endblock fos_user_content %}

</body>
</html>

{{ encore_entry_script_tags('js/login') }}